<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="JPGamePath" value="" />
        <add key="ENGGamePath" value="" />
        <add key="MachineTranslationCache" value="Caches/MachineTranslationCache.txt" />
        <add key="OfficialTranslationCache" value="Caches/OfficialTranslationCache.txt" />
        <add key="OfficialSubtitlesCache" value="Caches/OfficialSubtitleCache.txt" />
        <add key="ManualTranslationCache" value="Caches/ManualTranslationCache.txt" />
        <add key="TranslationErrors" value="Errors.txt" />
        <add key="JapaneseScriptPath" value="Scripts/Japanese" />
        <add key="EnglishScriptPath" value="Scripts/English" />
        <add key="i18nExScriptPath" value="Scripts/i18nEx/English/Script" />
        <add key="AlreadyTranslatedScriptFolder" value="Scripts/AlreadyTranslated" />
        <add key="MoveTranslated" value="false" />
        <add key="ExportToi18nEx" value="true" />
    </appSettings>
</configuration>