<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MachineTranslationCache" value="C:\Users\Laurent\Downloads\Nouveau dossier\Caches\MachineTranslationCache.txt"/>
    <add key="OfficialTranslationCache" value="C:\Users\Laurent\Downloads\Nouveau dossier\Caches\OfficialTranslationCache.txt"/>
    <add key="ManualTranslationCache" value="C:\Users\Laurent\Downloads\Nouveau dossier\Caches\ManualTranslationCache.txt"/>
    <add key="TranslationErrors" value="C:\Users\Laurent\Downloads\Nouveau dossier\Errors.txt"/>
    <add key="JapaneseScriptPath" value="C:\Users\Laurent\Downloads\Nouveau dossier\Scripts\Japanese"/>
    <add key="i18nExScriptPath" value="C:\Users\Laurent\Downloads\Nouveau dossier\Scripts\i18nEx\English\Script"/>
    <add key="EnglishScriptPath" value="C:\Users\Laurent\Downloads\Nouveau dossier\Scripts\English"/>
    <add key="JapaneseTranslatedRawScriptPath" value="C:\Users\Laurent\Downloads\Nouveau dossier\Scripts\JapaneseTranslated"/>
  </appSettings>
</configuration>
