<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MachineTranslationCache" value="Caches\MachineTranslationCache.txt"/>
    <add key="OfficialTranslationCache" value="Caches\OfficialTranslationCache.txt"/>
    <add key="ManualTranslationCache" value="Caches\ManualTranslationCache.txt"/>
    <add key="TranslationErrors" value="Errors.txt"/>
    <add key="JapaneseScriptPath" value="Scripts\Japanese"/>
	<add key="EnglishScriptPath" value="Scripts\English"/>
    <add key="i18nExScriptPath" value="Scripts\i18nEx\English\Script"/>    
    <add key="AlreadyTranslatedScriptFolder" value="Scripts\AlreadyTranslated"/>
	<add key="MoveTranslated" value="false"/>
	<add key="ExportToi18nEx" value ="true"/>
  </appSettings>
</configuration>
